@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  user-select: none;
  background-color: #fcf9f7;
}

.remove:hover{
  cursor: pointer;
  border-color: brown;
}

.remove:hover path{
  fill: #f56565;
}